body{
 background-color: #cccccc;
}

h3{
	
	color: #232323;
	text-align: center;
}


.page{
	padding-top: 75px;
}


.btn {
  border: none;
  background-color: inherit;
  padding: 7px 18px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 1s;
}

/* On mouse-over */
.btn:hover {
color: #fff;

	}

.success {color: green;}
.info {color: #ccc;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

.navbar{

	border-radius: 0px;
	overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
}

